<!doctype html>
<html ng-app="calendar">
<head>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/styles/style.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="./resources/images/favicon.ico"/>
    <title>{{title? title: "PLUS"}}</title>
</head>

<body>
<div>
    <nav id="navigation" class="navbar navbar-inverse" role="navigation">
        <div class="navbar-collapse collapse" id="navbar-main">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-calendar"></span></a>
            </div>
            <div class="nav navbar-nav navbar-left hidden" ng-class="{'hidden': !AuthorizationService.user}">
                <li><a href="#calendar">Calendar</a></li>
                <li><a href="#map">Map</a></li>
                <li><a ng-controller="InvitationsController" ng-click="openInvitationsDialog()" style="cursor: pointer">
                    <i class="fa fa-envelop"></i>Invitations
                    <span class="badge">{{(events | userInvitationsWithResponse: ResponseStatus.NOT_REPLIED.label).length}}
                    </span>
                </a></li>
            </div>
            <div class="nav navbar-nav navbar-right">
                <li ng-class="{'hidden': AuthorizationService.user}">
                    <a href="auth/facebook?scope=email,public_profile,user_friends,user_events,rsvp_event">
                        <i class="fa fa-facebook" style="padding-right: 5px"></i>
                        Sign in with Facebook
                    </a>
                </li>
                <li class="hidden" ng-class="{'hidden': !AuthorizationService.user}">
                    Signed as <a href="https://www.facebook.com/" class="inline"><i>{{AuthorizationService.user.firstName}}
                    {{AuthorizationService.user.lastName}}</i></a>
                    <a class="inline" ng-click="AuthorizationService.logout()" href="logout" title="Sign out">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </div>
        </div>
    </nav>
</div>

<div ng-controller="RootController" ng-if="AuthorizationService.user">
    <div id="breadcrumb" ng-if="title" class="col-md-12 breadcrumb"
         style="margin-bottom: 0">
        <label class="col-md-1">{{title}}</label>
        <span class="col-md-8" ng-include="'resources/views/filter.html'"></span>
        <span class="col-md-3"><a class="pull-right" href="" ng-click="togglePanel()">{{panel.show? "Hide events panel":
            "Show events panel"}}</a></span>
    </div>
    <div class="no-padding" ng-class="panel.show? 'col-md-9': 'col-md-12'" ng-view></div>
    <div class="col-md-3 no-padding page-slide" ng-show="panel.show" full-height
         ng-include="'resources/views/right-panel.html'"></div>
</div>

<!--COMMMONS-->
<script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="./bower_components/angularjs/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>

<!--REST-->
<script type="text/javascript" src="./bower_components/restangular/dist/restangular.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/lodash.min.js"></script>

<!--UI CALLENDAR-->
<script type="text/javascript" src="./bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="./bower_components/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="./bower_components/fullcalendar/gcal.js"></script>

<!--MAP-->
<script type="text/javascript" src="./bower_components/angular-ui-utils/ui-utils.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-ui-map/ui-map.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--MAIN-->
<script type="text/javascript" src="./resources/scripts/main.js"></script>

<!--CONTROLLERS-->
<script type="text/javascript" src="./resources/scripts/controllers/RootController.js"></script>
<script type="text/javascript" src="./resources/scripts/controllers/CalendarController.js"></script>
<script type="text/javascript" src="./resources/scripts/controllers/MapController.js"></script>
<script type="text/javascript" src="./resources/scripts/controllers/HomeController.js"></script>
<script type="text/javascript" src="./resources/scripts/controllers/InvitationsController.js"></script>
<script type="text/javascript" src="./resources/scripts/controllers/InvitationsDialogController.js"></script>

<!--SERVICES-->
<script type="text/javascript" src="./resources/scripts/services/EventService.js"></script>
<script type="text/javascript" src="./resources/scripts/services/UserService.js"></script>
<script type="text/javascript" src="./resources/scripts/services/AuthorizationService.js"></script>
<script type="text/javascript" src="./resources/scripts/services/WaitModalService.js"></script>

<!--VALUES-->
<script type="text/javascript" src="./resources/scripts/values/Event.js"></script>
<script type="text/javascript" src="./resources/scripts/values/ResponseStatus.js"></script>

<!--DIRECTIVES-->
<script type="text/javascript" src="./resources/scripts/directives/fullHeight.js"></script>

<!--FILTERS-->
<script type="text/javascript" src="./resources/scripts/filters/invitationsWithResponse.js"></script>

</body>
</html>
