<div ng-show="!expandEventForm" class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getAll()">
            All
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getFacebookOnly()">
            Facebook only
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('ATTENDING')">
            Attending
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('MAYBE')">
            Maybe
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('DECLINED')">
            Declined
        </button>
    </div>
</div>
