<div ng-controller="RootController" class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getAll()">
            Wszystkie
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getFacebookOnly()">
            Tylko z facebook
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('')">
            Zaaakceptowane
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('')">
            Może
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="getByStatus('')">
            Odrzucone
        </button>
    </div>
</div>
