<div class="modal-content">
    <div class="modal-header dialog-header">
        <h4>
            <a ng-click="$dismiss()">
                <i class="fa fa-close pull-right"></i>
            </a>
            Invitations
        </h4>
    </div>
    <div class="modal-body">
        <accordion role="tablist" close-others="false">
            <accordion-group ng-repeat="event in events | userInvitationsWithResponse: ResponseStatus.NOT_REPLIED.label"
                             style="padding: 5px"
                             is-open="status.open">
                <accordion-heading>
                    <i class="pull-right fa" ng-class="status.open? 'fa-chevron-down': 'fa-chevron-right'"></i>
                    <span class="pull-right badge">{{event.startDate | date:'dd/MM/yy HH:mm'}}
                    {{event.endDate ? " - " + (event.endDate | date:'dd/MM/yy HH:mm') :""}}</span>
                    {{event.name}}
                </accordion-heading>
                <div class="col-md-10">
                    {{event.description}}
                    <div ng-show="event.location" style="margin-top: 5px">
                        <i>({{event.location.longitude + ', ' + event.location.longitude}})</i>
                    </div>
                </div>
                <div class="col-md-2" style="padding: 0">
                    <div class="btn-group-vertical">
                        <label class="btn btn-default"
                               ng-repeat="(key, value) in ResponseStatus"
                               ng-model="event.responseStatus" btn-radio="value.label" uncheckable
                               style="height: 27px; padding: 1px" btn-radio="'{{value.description}}'"
                               ng-click="changeResponseStatus(event, key)" ng-if="value.description">
                            <span class="pull-left">{{value.description}}</span><i ng-style="{'color': value.color}"
                                                                                   class="pull-right fa {{value.icon}}"
                                                                                   style="margin-top: 3px"></i>
                        </label>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
