.navbar {
    margin-bottom: 0;
}

.page-slide {
    background: #eee;
}

.page-content {
    padding: 0 20px;
}

.no-padding {
    padding: 0;
}

.calendar {
    padding-top: 10px;
}

.nav .inline {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
}

.badge-bordered {
    border: 1px black inset;
}
